<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer" class="bg-dark text-light mt-3 py-1" style="font-size: 0.9rem;">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="d-flex align-items-center gap-3">

                    <h6 class="text-white mb-0">Thông tin:</h6>

                    <ul class="list-unstyled text-white-50 mb-0 d-flex gap-3">
                        <li>Tên: Nguyễn Hoàng Giáp</li>
                        <li class="border-start ps-3 border-secondary">MSSV: 23110096</li> </ul>

                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>